@page "{instrumentId:long}"
@using Indiwiz.Trading.Domain.Entities;
@model Indiwiz.Trading.Web.Pages.InstrumentDetailsModel
@{
    ViewData["Title"] = @Model.Instrument.Title;
}

<h1>@ViewData["Title"]</h1>

<p>
  <span class="badge text-bg-primary">@Model.Instrument.CurrencyName</span> 
  <span class="badge text-bg-info">@Model.CurrentPrice</span>
</p>

<div class="row g-5">
    <div class="col-md-1 col-lg-4">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Total bought</h6>
                    <small class="text-body-secondary">@Model.StockBought</small>
                </div>
                <span class="text-body-secondary">£@Model.TotalBoughtAmount</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Total sold</h6>
                    <small class="text-body-secondary">@Model.StockSold</small>
                </div>
                <span class="text-body-secondary">£@Model.TotalSoldAmount</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Stock in hand in @Model.Instrument.CurrencyName</h6>
                    <small class="text-body-secondary">@Model.StockInHand</small>
                </div>
                <span class="text-body-secondary">@Model.StockInHandAmount</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Profit and Loss (GBP)</span>
                <strong>$20</strong>
            </li>
        </ul>
    </div>
    <div class="col-md-6"></div>
</div>

<table class="table table-striped">
  <thead>
    <tr class="table-dark">
      <th scope="col">Order id</th>
      <th scope="col">Order date</th>
      <th scope="col">Quantity</th>
      <th scope="col">Rate in @Model.Instrument.CurrencyName</th>
      <th scope="col">Cost in GBP</th>
    </tr>
  </thead>
  @foreach(var order in Model.Instrument.Orders.OrderBy(o => o.OrderDate))
    {
        var rowClass = order.TransactionType == TransactionType.Buy ? "table-danger" : "table-success";
        <tr class="@rowClass">
          <td>@order.Id</td>
          <td>@order.OrderDate.ToShortDateString()</td>
          <td>@order.Quantity</td>
          <td>@order.RateInInstrumentCurrency</td>
          <td>@order.AmountInAccountCurrency</td>
        </tr>
    }
</table>
